/* Variables */
$lt-grey: #ccc;
$dk-grey: #2f2f2f;

/* Global */
html, body {
	margin: 0;
	padding: 0;
	color: $dk-grey;
	font-family: sans-serif;
}

header, section {
	padding: 0 1rem;
}

/* Header */
header {
	background-color: $lt-grey;
}

h1 {
	margin: 0;
	padding: 1rem 0;
}

h1:before{
	content: '[Less buggy than] ';
	font-size: 1rem;
}

/* Form */
form.genderPref {
	border: 1px solid $dk-grey;
	display: inline-block;
	padding: 1rem;
	margin: 1rem 0;
}

#update, #printList {
	display: inline-block;
	background-color: $lt-grey;
	border: 1px solid $dk-grey;
	font-size: 1rem;
	padding: 1rem 2rem;
	box-sizing: border-box;
	vertical-align: top;
	margin: 1rem 0;
}

/* Profiles */
ul#list {
	list-style: none;
	padding-left: 0;
}

li {
	display: inline-block;
	min-width: 300px;
	background-color: $lt-grey;
	padding: 1rem;
	margin: 1rem 1rem 0 0;
	
	img {
		float: left;
		margin-right: 1rem;
	}
}

.faded {
	opacity: 0.5;
}

.faded.like {
	background-color: green;
}

.faded.nope {
	background-color: #C8201B;
}