@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$tablet: 320px;
$medium-screen: 768px;
$large-screen: 1224px;

$white: #ffffff;
$light-grey: lightgrey;

$color1_apricot: #FFCDB2;
$color2_peach: #FFB4A2;
$color3_pink: #E5989B;
$color4_lavender: #B5838D;
$color5_purple: #6D6875;

@import 'partials/layout';
@import 'partials/front';