<!doctype html>
<html>
<head>
    <title>Movie App</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="MovieApp">
	<header>
		<h1>Movie App</h1>
	</header>
	
	<section ng-controller="FormController" id="form">
		<form>
			<input type="text" ng-model="newTitle" placeholder="Title">
			<input type="text" ng-model="newDate" placeholder="Release Date">
			<input type="text" ng-model="newGenre" placeholder="Genre">
			<button ng-click="newMovie()">Add Movie</button>
		</form>
		
	</section>
	
	<section ng-controller="ListController">
		<ul>
			<li ng-repeat="movie in movies" ng-class="movie.rating">
				<div class="info">
					<span class="title">{{ movie.title }},</span> <span class="date">{{ movie.releaseDate }}</span><br>
					<span class="genre">{{ movie.genre }}</span>
				</div>
				<div class="rating">
					<button ng-click="rate(movie, 'like')"><i class="fa fa-thumbs-o-up"></i></button>
					<button ng-click="rate(movie, 'dislike')"><i class="fa fa-thumbs-o-down"></i></button>
					<button ng-click="remove($index)"><i class="fa fa-trash-o"></i></button>
				</div>
			</li>
		</ul>
	</section>
</body>

</html>