<!doctype html>
<html>
<head>
    <title>Movie App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="MovieApp">
	<h1>Movie App</h1>
	
	<section ng-controller="MovieController">
		<p>Add a movie</p>
		<input type="text" ng-model="newTitle" placeholder="Title">
		<input type="text" ng-model="newDate" placeholder="Release Date">
		<input type="text" ng-model="newGenre" placeholder="Genre">
        <button ng-click="newMovie()">Request</button>
	
		<ul>
			<li ng-repeat="movie in movies">
				{{ movie.title }}
				<button ng-click="remove($index)">remove</button>
			</li>
		</ul>
	</section>
</body>

</html>