@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$lot-bg-color: #ccc;
$button-color: #61C45C;


html, body {
	margin: 0;
}

h1 {
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
}

header {
	@include grid-row();
}

section {
	@include grid-row();
	margin-bottom: 2rem;
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	li {
		margin-bottom: 1rem;
		
		&.fourCol {
			@include grid-column(3);
			padding-left: 0 !important;
		}
		
		&.threeCol {
			@include grid-column(4);
			padding-left: 0 !important;
		}
		
		.panel {
			border: 2px solid $lot-bg-color;
			padding-bottom: 0.5rem;
		}
		
		h3 {
			background-color: $lot-bg-color;
			padding: 0 1rem;
		}
		
		p {
			margin-bottom: 0;
			padding: 0 1rem;
		}
	}
	
	&#lotInfo {
		
	}
	
	&#carInfo {
		h3:before {
			content: "\f1b9";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			margin-right: 1rem;
		}
	}
	
	
	&#carForm {
		.panel {
			@include grid-column(4);
			padding-left: 0 !important;
		}
	}
	
	&#newCarType {
		.panel {
			@include grid-column(6);
			padding-left: 0 !important;
		}
	}
}

// override foundation float for extra columns
/*:last-child:not(:first-child) {
	float: none !important; 
}*/

button {
	padding: .75rem;
	background-color: $button-color;
	width: 100%;
}