@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


html, body {
	padding: 1rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

section {
	@include grid-row();
	
	#lotInfo {
		li {
			@include grid-column(4);
		}
	}
	
	#carForm {
		select {
			@include grid-column(6);
		}
	}
}



button {
	padding: 1rem;
	background-color: #ccc;
}