/***
 * SECTION 1 - DRESS BETTER
 ***/
.hero {
	background-color: #f4f4f4;
}

ul.menu-items.ties-callout {
	max-width: 950px;
	margin: 0 auto;
}

ul.ties-callout li {
	padding: 0;
	justify-content: center;
	align-items: flex-start;
	max-width: 85px;
	padding: 0 5px;
	margin: 0 5px;
	text-align: center;
}

.ties-callout a {
	display: block;
}

.ties-callout a img {
	display: block;
	position: relative;
	top: 0;
	z-index: 50;
	transition: top 0.5s ease;
}

.ties-callout a img:hover, .ties-callout a img:focus {
	top: -30px;
}

.ties-callout a span {
	position: relative;
	top: 15px;
}

/***
 * SECTION 2 - CALLOUTS
 ***/
.callouts {
	display: flex;
}

a.callout {
	width: 33.3%;
	background-color: #f4f4f4;
	margin: 15px;
	border: 1px solid #ccc;
	position: relative;
	text-align: right;
}

a.callout:first-child {
	margin-left: 0;
}

a.callout:last-child {
	margin-right: 0;
}

a.callout span {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 1.3rem;
	line-height: 1.6rem;
	font-weight: bold;
	max-width: 100px;
}






