/***
 * GLOBAL
 ***/
body {
	background-color: white;
	font-family: 'Palanquin', Tahoma, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

grid-container, .grid-container {
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
	text-align: left;
	display: block;
}

section {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

ul.menu-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: inherit;
}

ul.menu-items li {
	padding: 5px 15px;
}

ul.menu-items li:first-child {
	padding-left: 0;
}

h1 {
	font-size: 60px;
	font-weight: 400;
	margin: 65px 0;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #33a1ff;
}

/***
 * HEADER
 ***/
toolbar {
	background-color: #fa6938;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: background-color 0.5s ease;
}

toolbar:hover {
	background-color: #33a1ff;
}

#toolbar-btn {
	background: rgba(0, 0, 0, .2);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .8rem;
}

header {
	position: relative;
	background-color: white;
    border-bottom: 5px solid transparent;
    border-image: url(../assets/perforated-bottom.png) 5 0 repeat;
    border-image-outset: .5;
    z-index: 100;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.4rem;
	font-weight: 100;
}

#logo {
	margin-right: 3rem;
}

footer ul {
	padding: 0;
	list-style: none;
	margin-right: 3rem;
}

.primary-footer {
	background-color: white;
    border-top: 7px solid transparent;
    border-image: url(../assets/hatch-light.png) 7 0 repeat;
    border-image-outset: .5;
}

.secondary-footer {
	background-color: #f4f4f4;
    border-top: 5px solid transparent;
    border-image: url(../assets/perforated-bottom.png) 5 0 repeat;
    border-image-outset: .5;
}

.secondary-footer ul {
	display: flex;
}

.footer-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

li.footer-categ {
	font-weight: bold;
}