/***
 * GLOBAL
 ***/
body {
	background-color: white;
	font-family: 'Palanquin', Tahoma, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

grid-container, .grid-container {
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
	text-align: left;
	display: block;
}

section {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

ul.menu-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: inherit;
}

ul.menu-items li {
	padding: 5px 15px;
}

ul.menu-items li:first-child {
	padding-left: 0;
}

h1 {
	font-size: 60px;
	font-weight: 400;
	margin: 0;
	padding: 65px 0;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:focus, a.blue {
	color: #33a1ff;
}

/***
 * HEADER
 ***/
toolbar {
	background-color: #fa6938;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: background-color 0.5s ease;
}

toolbar:hover, toolbar:focus {
	background-color: #33a1ff;
}

#toolbar-btn {
	background: rgba(0, 0, 0, .2);
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .8rem;
}

header {
	position: relative;
	background-color: white;
    border-bottom: 5px solid transparent;
    border-image: url(../assets/perforated-bottom.png) 5 0 repeat;
    border-image-outset: .5;
    z-index: 100;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.4rem;
	font-weight: 100;
}

.main-menu li {
	position: relative;
}

.main-menu li:after {
	top: 110%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #ccc;
	border-width: 3px;
	margin-left: -3px;
	z-index: 100;
}

.menu-subitem {
	position: absolute;
    top: 130%;
	left: 0;
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
    background: black;
	border-radius: 3px;
    color: white;
    width: 100%;
    height: 100px;
	display: none;
	transition: all 0.5s ease;
}

.menu-subitem:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: black;
	border-width: 10px;
	margin-left: -10px;
	z-index: 120;
}

.main-menu li:hover .menu-subitem, .main-menu li:focus .menu-subitem {
	display: block;
}

#logo {
	margin-right: 3rem;
}

.login {
	border: 1px solid blue;
}

.login div {
	border: 1px solid #ccc;
	border-radius: 3px;
}


/***
 * FOOTER
 ***/
footer {
	margin-top: 4rem;
}

footer ul {
	padding: 0;
	list-style: none;
	margin-right: 3rem;
}

footer ul.connect {
	align-items: flex-start;
}

.primary-footer {
	background-color: white;
    border-top: 7px solid transparent;
    border-image: url(../assets/hatch-light.png) 7 0 repeat;
    border-image-outset: .5;
	padding-bottom: 2rem;
}

.primary-footer a {
	color: #33a1ff;
}

.social-links a {
	display: inline-block;
	transform: scale(0.5);
	width: 70px;
	height: 70px;
}

.social-links a:hover, .social-links a:focus {
	opacity: 0.8;
}

#facebook-icon {
    background: url(../assets/sprite@2x.png) -540px 0;
}

#pinterest-icon {
    background: url(../assets/sprite@2x.png) -540px -80px;
}

#twitter-icon {
    background: url(../assets/sprite@2x.png) -540px -160px;
}

.connect li {
	width: 25%;
}

.connect li img {
	border: 1px solid #ccc;
}

.secondary-footer {
	background-color: #f4f4f4;
    border-top: 5px solid transparent;
    border-image: url(../assets/perforated-bottom.png) 5 0 repeat;
    border-image-outset: .5;
	padding-bottom: 2rem;
}

.secondary-footer .footer-menu {
	display: flex;
}

.secondary-footer a {
	color: #909090;
}

li.footer-categ {
	font-weight: 400;
	color: black;
	
}

.copyright {
	font-size: .8rem;
	color: #909090;
}

.copyright a {
	border-bottom: 1px dotted #909090;
}