body {
	background-color: #E3EEF3;
	padding: 1%;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

form {
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: white;
	position: relative;
}

form .row {
	display: flex;
	/*flex-wrap: wrap;*/
	min-height: 75px;
}

.row .item {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding: 15px;
	overflow-x: auto;
}

.row .item:last-child {
	border-right: none;
}

.row.two-items > .item {
	width: 50%;
}

.row.three-items > .item {
	width: 33.3%;
}

.row.four-items > .item {
	width: 25%;
}

label {
	color: grey;
	font-size: .7rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: table-row;
	margin: 10px 5px;
}

input, select {
	display: table-row;
	box-sizing: border-box;
	min-width: 200px;
	border: none;
	font-size: .8rem;
	margin-top: 5px;
	padding: 5px 0;
	background-color: white;
}

select option {
	color: #cccccc;
}

input[placeholder] {
	color: #cccccc;
	opacity: 1;
	font-size: .8rem;
}

input[type="submit"] {
	color: white;
    padding: 5px;
    height: 30px;
	background-color: #82AE65;
	border-radius: 3px;
	margin: auto;
}
