a.cta {
	width: 33.3%;
	background-color: #f4f4f4;
	margin: 15px;
	border: 1px solid #ccc;
	position: relative;
	text-align: right;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	span {
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 1.3rem;
		line-height: 1.6rem;
		font-weight: bold;
		max-width: 100px;
	}
}

.discount-content {
	.callouts a.cta {
		span {
			max-width: 150px;
		}
	}
}