/***
 * FOOTER
 ***/
footer {
	margin-top: 4rem;
	
	ul {
		padding: 0;
		list-style: none;
		margin-right: 3rem;
	}
	
	ul.connect {
		align-items: flex-start;
	}
	
	.primary-footer {
		background-color: white;
		border-top: 7px solid transparent;
		border-image: url(../assets/hatch-light.png) 7 0 repeat;
		border-image-outset: .5;
		padding-bottom: 2rem;
		
		a {
			color: $blue;
		}

		.social-links a {
			display: inline-block;
			transform: scale(0.5);
			width: 70px;
			height: 70px;
		}

		.social-links a:hover, .social-links a:focus {
			opacity: 0.8;
		}

		#facebook-icon {
			background: url(../assets/sprite@2x.png) -540px 0;
		}

		#pinterest-icon {
			background: url(../assets/sprite@2x.png) -540px -80px;
		}

		#twitter-icon {
			background: url(../assets/sprite@2x.png) -540px -160px;
		}

		.connect li {
			width: 25%;
		}

		.connect li img {
			border: 1px solid $md-grey;
		}
	}

	.secondary-footer {
		background-color: $lt-grey-bg;
		border-top: 5px solid transparent;
		border-image: url(../assets/perforated-bottom.png) 5 0 repeat;
		border-image-outset: .5;
		padding-bottom: 2rem;
	
		.footer-menu {
			display: flex;
		}

		a {
			color: #909090;
		}
		
		li {
			line-height: 1.4rem;
		}

		li.footer-categ {
			font-weight: 600;
			color: $black;
		}
		
		.contact-box {
			background-color: $md-grey;
			border: 1px solid rgba(0, 0, 0, .1);
			border-radius: 3px;
			color: $white;
			padding: 15px;
			font-size: 1.2rem;
			font-weight: 200;
			width: 300px;
			height: 100px;
			margin-top: 1rem;
			margin-left: auto;
		
			h3 {
				font-size: 1.5rem;
				font-style: italic;
				font-weight: 300;
				margin: 0;
			}

			a.contact-us-btn {
				background-color: $blue;
				padding: 5px;
				border-radius: 3px;
				color: $white !important;
				float: right;
			}
		}

		.copyright {
			font-size: .8rem;
			color: $lt-grey-text;
			
			a {
				border-bottom: 1px dotted $lt-grey-text;
			}
		}
	}
	
}