/***
 * FOOTER
 ***/
footer {
	margin-top: 4rem;
}

footer ul {
	padding: 0;
	list-style: none;
	margin-right: 3rem;
}

footer ul.connect {
	align-items: flex-start;
}

.primary-footer {
	background-color: white;
    border-top: 7px solid transparent;
    border-image: url(../assets/hatch-light.png) 7 0 repeat;
    border-image-outset: .5;
	padding-bottom: 2rem;
}

.primary-footer a {
	color: $blue;
}

.social-links a {
	display: inline-block;
	transform: scale(0.5);
	width: 70px;
	height: 70px;
}

.social-links a:hover, .social-links a:focus {
	opacity: 0.8;
}

#facebook-icon {
    background: url(../assets/sprite@2x.png) -540px 0;
}

#pinterest-icon {
    background: url(../assets/sprite@2x.png) -540px -80px;
}

#twitter-icon {
    background: url(../assets/sprite@2x.png) -540px -160px;
}

.contact-box {
	background-color: #a2afc0;
	border: 1px solid $md-grey;
	border-radius: 3px;
	color: $white;
	padding: 15px;
	font-size: 1.2rem;
	font-weight: 300;
	width: 300px;
}

.contact-box h3 {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 300;
	margin: 0;
}

a.contact-us-btn {
	background-color: $blue;
	padding: 0 5px;
	color: $white !important;
	float: right;
}

.connect li {
	width: 25%;
}

.connect li img {
	border: 1px solid $md-grey;
}

.secondary-footer {
	background-color: $lt-grey-bg;
    border-top: 5px solid transparent;
    border-image: url(../assets/perforated-bottom.png) 5 0 repeat;
    border-image-outset: .5;
	padding-bottom: 2rem;
}

.secondary-footer .footer-menu {
	display: flex;
}

.secondary-footer a {
	color: #909090;
}

li.footer-categ {
	font-weight: 400;
	color: $black;
	
}

.copyright {
	font-size: .8rem;
	color: $lt-grey-text;
}

.copyright a {
	border-bottom: 1px dotted $lt-grey-text;
}