/***
 * SECTION 1 - DRESS BETTER
 ***/
.hero {
	background-color: #f4f4f4;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2rem;
}

ul.menu-items.ties-callout {
	max-width: 950px;
	margin: 0 auto;
	
	li {
		padding: 0;
		justify-content: center;
		align-items: flex-start;
		max-width: 85px;
		padding: 0 5px;
		margin: 0 5px;
		text-align: center;
	}
	
	a {
		display: block;
		
		img {
			display: block;
			position: relative;
			top: 0;
			z-index: 50;
			transition: top 0.5s ease;
			
			&:hover, &:focus {
				top: -30px;
			}
		}
		
		span {
			position: relative;
			top: 15px;
		}
	}
	
}


/***
 * SECTION 2 - CALLOUTS
 ***/
.callouts {
	display: flex;
	margin-bottom: 3rem;
}

p.story-text {
	font-size: 2.4rem;
	font-weight: 100;
	margin: 1rem 0;
	font-style: italic;
	text-align: center;
}

a.story-link {
	text-transform: uppercase;
	color: #33a1ff;
	letter-spacing: 2px;
	text-align: center;
	display: block;
}




