/***
 * SITE STYLES
 ***/
/* Variables */
/* Partials */
/***
 * GLOBAL
 ***/
body {
  background-color: #ffffff;
  font-family: 'Palanquin', Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400; }

grid-container, .grid-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  text-align: left;
  display: block; }

section {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

ul.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: inherit; }
  ul.menu-items li {
    padding: 5px 15px; }
    ul.menu-items li:first-child {
      padding-left: 0; }

h1 {
  font-size: 60px;
  font-weight: 400;
  margin: 0;
  padding: 65px 0;
  text-align: center; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:focus {
    color: #33a1ff; }

/***
 * HEADER
 ***/
toolbar {
  background-color: #fa6938;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: background-color 0.5s ease; }
  toolbar:hover, toolbar:focus {
    background-color: #33a1ff; }
    toolbar:hover a, toolbar:focus a {
      color: white; }
  toolbar #toolbar-btn {
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .8rem; }

header {
  position: relative;
  background-color: white;
  border-bottom: 5px solid transparent;
  border-image: url(../assets/perforated-bottom.png) 5 0 repeat;
  border-image-outset: .5;
  z-index: 100;
  /***
   * CART
   ***/ }
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;
    font-weight: 100; }
  header .main-menu li {
    position: relative; }
    header .main-menu li:after {
      top: 110%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(204, 204, 204, 0);
      border-top-color: #ccc;
      border-width: 3px;
      margin-left: -3px;
      z-index: 100; }
  header .menu-subitem {
    position: absolute;
    top: 130%;
    left: 0;
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
    background: black;
    border-radius: 3px;
    color: white;
    width: 100%;
    height: 100px;
    display: none;
    transition: all 0.5s ease; }
    header .menu-subitem:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-bottom-color: black;
      border-width: 10px;
      margin-left: -10px;
      z-index: 120; }
  header .main-menu li:hover .menu-subitem, header .main-menu li:focus .menu-subitem {
    display: block; }
  header #logo {
    margin-right: 3rem; }
  header .login {
    width: 300px;
    height: 50px;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #909090;
    /*align-self: flex-end;*/
    margin-left: auto;
    text-align: right;
    display: table;
    position: relative; }
    header .login .login-1 {
      position: absolute;
      right: 0;
      top: -15px; }
    header .login a {
      font-size: .8rem;
      color: #909090;
      text-transform: uppercase; }
      header .login a:hover, header .login a:focus {
        color: #33a1ff; }
    header .login .login-2 {
      display: table-cell;
      vertical-align: middle; }
      header .login .login-2 > div {
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 120px;
        height: 30px;
        display: inline-block;
        position: relative;
        bottom: 0; }
    header .login .login-2 > div.cart {
      text-align: left; }
    header .login #cart-icon {
      display: inline-block;
      transform: scale(0.7);
      width: 25px;
      height: 28px;
      background: url(../assets/sprite@2x.png) -91px -31px; }
    header .login #cart-total {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #ccc;
      position: relative;
      bottom: 2px;
      color: #ffffff;
      text-align: center;
      margin-left: 5px; }
      header .login #cart-total:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(204, 204, 204, 0);
        border-right-color: #ccc;
        border-width: 5px;
        margin-top: -5px; }
    header .login > div.search {
      border: 5px solid rgba 255, 255, 255, 0.4;
      width: 150px; }
    header .login form {
      display: inline-block; }
    header .login input[type="search"] {
      width: 80px;
      border: none; }
    header .login #search-icon {
      display: inline-block;
      transform: scale(0.5);
      width: 28px;
      height: 28px;
      background: url(../assets/sprite@2x.png) -28px -29px; }

/***
 * FOOTER
 ***/
footer {
  margin-top: 4rem; }
  footer ul {
    padding: 0;
    list-style: none;
    margin-right: 3rem; }
  footer ul.connect {
    align-items: flex-start; }
  footer .primary-footer {
    background-color: white;
    border-top: 7px solid transparent;
    border-image: url(../assets/hatch-light.png) 7 0 repeat;
    border-image-outset: .5;
    padding-bottom: 2rem; }
    footer .primary-footer a {
      color: #33a1ff; }
    footer .primary-footer .social-links a {
      display: inline-block;
      transform: scale(0.5);
      width: 70px;
      height: 70px; }
    footer .primary-footer .social-links a:hover, footer .primary-footer .social-links a:focus {
      opacity: 0.8; }
    footer .primary-footer #facebook-icon {
      background: url(../assets/sprite@2x.png) -540px 0; }
    footer .primary-footer #pinterest-icon {
      background: url(../assets/sprite@2x.png) -540px -80px; }
    footer .primary-footer #twitter-icon {
      background: url(../assets/sprite@2x.png) -540px -160px; }
    footer .primary-footer .connect li {
      width: 25%; }
    footer .primary-footer .connect li img {
      border: 1px solid #ccc; }
  footer .secondary-footer {
    background-color: #f4f4f4;
    border-top: 5px solid transparent;
    border-image: url(../assets/perforated-bottom.png) 5 0 repeat;
    border-image-outset: .5;
    padding-bottom: 2rem; }
    footer .secondary-footer .footer-menu {
      display: flex; }
    footer .secondary-footer a {
      color: #909090; }
    footer .secondary-footer li {
      line-height: 1.4rem; }
    footer .secondary-footer li.footer-categ {
      font-weight: 600;
      color: #000000; }
    footer .secondary-footer .contact-box {
      background-color: #ccc;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      color: #ffffff;
      padding: 15px;
      font-size: 1.2rem;
      font-weight: 200;
      width: 300px;
      height: 100px;
      margin-top: 1rem;
      margin-left: auto; }
      footer .secondary-footer .contact-box h3 {
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 300;
        margin: 0; }
      footer .secondary-footer .contact-box a.contact-us-btn {
        background-color: #33a1ff;
        padding: 5px;
        border-radius: 3px;
        color: #ffffff !important;
        float: right; }
    footer .secondary-footer .copyright {
      font-size: .8rem;
      color: #909090; }
      footer .secondary-footer .copyright a {
        border-bottom: 1px dotted #909090; }

/***
 * SECTION 1 - DRESS BETTER
 ***/
.hero {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem; }

ul.menu-items.ties-callout {
  max-width: 950px;
  margin: 0 auto; }
  ul.menu-items.ties-callout li {
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    max-width: 85px;
    padding: 0 5px;
    margin: 0 5px;
    text-align: center; }
  ul.menu-items.ties-callout a {
    display: block; }
    ul.menu-items.ties-callout a img {
      display: block;
      position: relative;
      top: 0;
      z-index: 50;
      transition: top 0.5s ease; }
      ul.menu-items.ties-callout a img:hover, ul.menu-items.ties-callout a img:focus {
        top: -30px; }
    ul.menu-items.ties-callout a span {
      position: relative;
      top: 15px; }

/***
 * SECTION 2 - CALLOUTS
 ***/
.callouts {
  display: flex;
  margin-bottom: 3rem; }

p.story-text {
  font-size: 2.4rem;
  font-weight: 100;
  margin: 1rem 0;
  font-style: italic;
  text-align: center; }

a.story-link {
  text-transform: uppercase;
  color: #33a1ff;
  letter-spacing: 2px;
  text-align: center;
  display: block; }

a.cta {
  width: 33.3%;
  background-color: #f4f4f4;
  margin: 15px;
  border: 1px solid #ccc;
  position: relative;
  text-align: right; }
  a.cta:first-child {
    margin-left: 0; }
  a.cta:last-child {
    margin-right: 0; }
  a.cta span {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: bold;
    max-width: 100px; }

.discount-content .callouts a.cta span {
  max-width: 150px; }

/*# sourceMappingURL=style.css.map */
